.node rect {
		stroke: black;
		fill: aliceblue;
		cursor: move;
}

.issue-node rect {
		stroke: black;
		fill: lightslategray;
		cursor: move;
}

.link .positive {
		stroke: #2ca02c;
}

.link .negative {
		stroke: #d62728;
}

.link .neutral {
		stroke: #c7c7c7;
}

circle.expanded {
    fill: white;
}

circle.collapsed {
    fill: lightsteelblue;
}