body{
/* enable scolling in iframe*/
	overflow-y: auto;
	
	
}


.survey{
	margin: 40px 0px 0px 0px;
	color: #58595B;
	width: 590px;
}

.intro{
	margin-top: 20px;
	font-weight: bold;
	width: 300px;
}

.next{
	display:block;
	float: right;
	white-space: nowrap;
}

.back{
	display:block;
	white-space: nowrap;
}

.question{
	width: 600px;
}

.question p {
	font-size: 18pt;
	color: #82BC25;
	padding-top: 5px;
	padding-bottom: 15px;
}

.introductions{
	width: 300px;

}

.answer{
	width: 560px;
	background-color: rgba(187, 189, 197, 0.3);
	padding: 8px 15px;
	border-radius: 5px;
	margin: 15px 0px 0px 0px;
	position: relative;
}

#update-circ .answer, #update-cons .answer, #update-values .answer {
	width: 528px;
	margin: 5px 0px 0px 32px;
	/*background: url(images/marker.png) no-repeat 1px 1px rgba(187, 189, 197, 0.3);*/
}

#update-circ .answer.circ, #update-cons .answer.cons, #update-values .answer.value {
	width: 560px;
	margin: 15px 0px 0px 0px;
	/*background: rgba(187, 189, 197, 0.3);*/
}

.answer:last-child{
	margin-bottom: 30px;
}

.answer .question{
	margin-right: 25px;
	display: block;
	width: 300px;
	float: left;
}

.answer .tool{
	margin-left: 325px;
}

.answer .question {
	margin-bottom: 20px;
}
.answer .tool {
	margin-bottom: 20px;
}
.answer.circ .question {
	margin-bottom: 0px;
}
.answer.circ .tool {
	margin-bottom: 0px;
}
.answer .question:last-child {
	margin-bottom: 0px;
}
.answer .tool:last-child {
	margin-bottom: 0px;
}

th {
	text-decoration: underline;
}

td {
	padding-bottom: 10px;
	vertical-align: top;
}

td + td, th + th {
	padding-left: 15px;
}	

.answer .marker {
	position: absolute;
	top: 0px;
	left: -30px;
	width: 24px;
	height: 24px;
	background: url(images/marker.png);
}	
