body {
	font-family: Arial, Helvetica, sans-serif; 
	margin: 0px;
	font-size: 80%;
	color: DimGrey; /*#308D88;*/
	margin: auto;
	width: 1020px;
}

pre {
	white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
	white-space: -pre-wrap; /* Opera 4 - 6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
	word-wrap: break-word; /* IE 5.5+ */
}
a {
 	color: #7F0000;
 	text-decoration: none;
}

h1 {
	margin-top:5px;
	margin-bottom: 10px;
	font-size: 150%;
	color: #308D88;
}

h2 {
	margin: 0px;
	font-size: 140%;	
	margin-bottom:10px;
}

.hrline {
	border: 0;
	color: #d3e8e8;
	background-color: #d3e8e8;
	height: 2px;
}

.urllist{
	margin: 2px;
	padding: 0px;
}

.active {
	color: #e80074;
	cursor:pointer;		
}
.idea-menus button.active {
	border: none;
	padding:0;
	margin:0;
	background:transparent;
	font-size:100%;
	font-family: Arial, Helvetica, sans-serif;
}


.inactive{
	cursor:	default;
	color: #ccc;
}


#header {
	width:98%;
	height: 100px;
	margin: auto;
}

#logo {
	float: left;
	padding: 0px;
	margin-bottom:10px;
}

#logo .accesslink {
	color:#FFFFFF;
}
#logo .accesslink:focus, .accesslink:active {
    color:#000;
}

#logo .hourglass {
	padding-bottom: 5px;
}

#menu {
	float: right;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#search {
	clear: both;
	float: right;
	margin-bottom: 5px;	
}

#main {
	clear: both;
  	width: 98%;
	margin: auto;
}

#sidebar {
	float: left;
	width: 230px; /*Width of left column*/
	margin-left: -98%;
	
}

#contentwrapper {
	float: left;
	width: 98%;
	padding:0px;
}
#content {
	margin-left: 0px; /*Set left margin to LeftColumnWidth*/
	
}

.c_innertube{
	padding-left: 5px; /*Margins for inner DIV inside content column (to provide padding)*/
	margin-top: 0;
}

.s_innertube{
	margin-left: 10px; /*Margins for inner DIV inside sidebar column (to provide padding)*/
	margin-top: 0;
	margin-right: 10px;
}

#sidebar-header{
	height: 23px;
	background: url(../images/sidebar-header-210.png) 0 0 no-repeat; 	
}

#sidebar-content{
	padding:3px;
	border-left: 1px solid #d3e8e8;
	border-right: 1px solid #d3e8e8;
	overflow:hidden;
}

#searchform {
	margin: 0;
}

#sidebar-footer{
	clear: both; 
	height: 23px;
	background: url(../images/sidebar-footer-210.png) 0 0 no-repeat; 
	margin-bottom: 3px;	
}

#footer {
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

div.formrow {
	padding: 10px;
	clear: both;
}

.formlabel {
	float: left;
	margin-left:0px;
	width: 150px;
	padding:0px;
	text-align: right;
	font-weight: bold;
} 
 
.forminput {
	margin-left: 5px;
	float:left;
}
 
.formsubmit {
	margin-left: 155px;	
}

.formhelp {
 	margin-left:10px;	
}

/* OpenID input box */
#openid_url {
	background-image: url(../images/openid-inputicon.gif);
	background-repeat: no-repeat;
	padding-left:18px;
}

/* for sort options */
#sort-options {
	clear: both;
	margin-top:10px;
	margin-bottom:10px;	
}

.errors {
	color:red;
	clear:both;
	padding:10px;	
}

#contextimage {
	float: left;
	margin-left:0px;
	width: 70px;
	padding:0px;
	margin-bottom:10px;
}

#contextimagesmall {
	float: left;
	margin-left:0px;
	width: 36px;
	padding:0px;
}

#contextimage img{
	border:0px;	
}

#contextinfo {
	margin-bottom:10px;
}

.required {
	color: red;
	font-weight: bold;
}

.help {
	color: #001;
	font-weight: bold;
}

/* for tables */
.table {
    border-color : #ccc;
    border-style : solid;
    border-width : 1px 1px 0px 1px;
}
.table .c1, fieldset .c1 {
    width : 30%;
}
.table TH, .table TD, .option-table TH, .option-table TD {
    padding : 6px;
    
}
.table TH TH, .table TD TD {
    padding : 0px;
    
}
.table TD.icon {
    padding : 0 5px 0 3px;
}
.table TH {
    background-color : #f3f7fa;
    border-bottom : 1px #ccc solid;
    text-align : left;
    font-weight : bold;
}
.table TH TABLE TH {
    border-right : none;
    border-bottom : none;
}
.table TH TABLE TH a {
    text-decoration : none;
    color: #000;
}

.table TR TD {
    border-bottom : 1px #e3e3e3 solid;
    vertical-align: top;
}

.table .odd TD {
    background-color : #fff;
}
.table .even TD {
    background-color : #fbfbfb;
}
.table TFOOT TD {
    background-color : #eee;
    border-bottom: 1px solid #ccc;
}
.table TD TD {
    border-width : 0px;
}

th.table-th-center {
    text-align: center;
}

/****/

ol.conn-list-ol {
	margin-left:0px;
	padding-left:0px;
	margin-top:0px;
	padding-top:0px;
	list-style:none;
}

li.conn-list-li {
	margin-left:0px;
	padding-left:0px;
}

.conncheck {
	float:left;
}

div.conn-li-wrapper{
	width:100%;
}

.conn-blob {  
    margin-left:50px;
    margin-bottom:20px; 
    padding: 0px;
    border: 1px solid white;
}

.conn-blob-sm {  
    margin-left:10px;
    margin-bottom:20px; 
    padding: 0px;
    border: 1px solid white;
}

.fromidea-horiz { 
    width: 250px;
    float: left;
    margin-bottom:10px;  
}

.toidea-horiz {
	margin-bottom:10px; 
    width: 250px; 
    float:left; 
}

.connlink-horiz-neighbour  {
    float:left;   
    width:178px;
    height:21px;
    background-repeat:no-repeat;
    background-position: 0px 0px;  
}

.connlink-horiz-slim  {
    float:left;   
    width:238px;
    height:21px;
    margin-top:15px;
    background-repeat:no-repeat;
    background-position: 0px 0px;  
 }

.connection {
	min-width:760px;	
}

.conn-link-text-neighbour {
    position:relative;
    left:18px;
    top:0px;
    width:135px;
    height:20px;
	text-align: left;
}

.conn-link-text {
    position:relative;
    left:30px;
    top:0px;
    width:155px;
    height:20px;
	text-align: left;
}

.conn-link-text-left {
    position:relative;
    left:47px;
    top:0px;
    width:155px;
    height:20px;
	text-align: left;
}

/* styles for the snippets */
#snippetdiv {
	border: 2px dashed #89cac8;
	padding: 5px;
}

#snippet-footer {
	float:right;
	border:0px;
}
#snippet-footer, #snippet-footer li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#snippet-footer img{
	border:0px;
}

.snippetBody {
	background: white;
	margin: 5px;
}

.snippetDiv {
	font-face: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	border: 2px dashed #89cac8;	
	padding: 5px;
}

.snippetColumnDiv {
	overflow: auto;
	height: 300px;
	padding-right: 4px;
	padding-left: 4px;
	margin-bottom: 3px;
	border: 1px solid #89cac8;
}

.snippetColumnDivExtra {
	overflow: none;
	height: 20px;
	padding: 4px;
	margin-bottom: 3px;
	border: 1px solid #89cac8;
}

.snippetNetDiv {
	overflow: auto;
	height: 450px;
	padding-right: 4px;
	margin-bottom: 3px;
	border: 1px solid #89cac8;
}

.snippetColumnListDiv {
	width: 835px;
}

.snippetColumnFocusDiv {
	height: 300px;
	padding-right: 4px;
	padding-left: 4px;
	margin-bottom: 3px;
	border: 1px solid #89cac8;		
	width: 990px;
}

.snippetConnectionTable {
	padding: 0px; 
	margin: 0px; 
	border-collapse: collapse;
}

.snippetPanel{
	background-color: #d5e9e9;
	border: none;	
	font-size: 10pt;	
	font-weight: bold;
	font-family: "Lucida Grande" Verdana, Arial, Helvetica, sans-serif; 		
}

/* END OF styles for snippets */

/* for the drop down*/
.drop-down-img {
	cursor:pointer;
}

.drop-down {
    border: 1px solid #40B5B2;
    display: none; 
    position: absolute;
    padding:0px;
    margin-top:0px;
    background:#eee;
    text-align: left; 
    z-index:10;    
}

.dd-list {
   padding:0px;
   margin:0px;
   list-style:none;       
}

.dd-li {
	padding: 5px;
	cursor:pointer;
	color: #E80074;
	white-space: nowrap;
}

.dd-li:hover {
	background:#ddd;
}

/* Styles used by neighbourhood view */
.viewsdiv {
	overflow-x: auto; 
	overflow-y: hidden;
	width: 100%;
	max-height: 100%;		
	float: left;	
	padding-bottom: 60px;
}

.viewsdiv-snippet {
	overflow: auto; 
	width: 100%;
	max-height: 100%;		
	float: left;	
}

.connectionsDiv {
	margin: 0px;
	padding: 0px;
	overflow: none;
}

.connectionSpacerDiv {
}

.focusIdeaDiv {
	margin-top: 3px; 
	margin-bottom: 3px;
}

.innerFocusedIdeaDiv {
	padding: 0px; 
	margin: 0px;
	text-align: left; 
	width: 160px; 
	font-size: 8pt; 
}

.focusedIdeaTable {
	padding: 0px; 
	margin: 0px;
	border-collapse: collapse
}

.fromConnectionsTable {
	padding: 0px; 
	margin-left: 5px; 
	border-collapse: collapse;
}

.toConnectionsTable {
	padding: 0px; 
	margin: 0px;
	border-collapse: collapse;
}

.verticalLine {
	background:url("../images/connection/link-line-vertical_sm.png");
	background-repeat: repeat-y;
	padding:0px;
	margin:0px;
	width: 3px;
	height: 0px;
}

.cell1 {
	padding: 0px;
	margin: 0px;
	width: 2px;
}

.connectionPositiveLinkDiv {
	border-radius: 8px; 
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	padding: 2px; 
	text-align: center;  
	background: #00BD53; 
	width: 135px; 
	font-size: 8pt; 
	border: 1px solid #00BD53;
	color: white;
}

.connectionNeutralLinkDiv {
	border-radius: 8px; 
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	padding: 2px; 
	text-align: center;  
	background: #C0BCBC; 
	width: 135px; 
	font-size: 8pt; 
	border: 1px solid #C0BCBC;
	color: white;
}

.connectionNegativeLinkDiv {
	border-radius: 8px; 
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	padding: 2px; 
	text-align: center;  
	background: #C10031; 
	width: 135px; 
	font-size: 8pt; 
	border: 1px solid #C10031;
	color: white;
}

.connectionLinkDivFake {
	border-radius: 8px; 
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	padding: 2px; 
	text-align: center;  
	background: #DAD2D2; /*#F6F4F4;*/
	width: 178px; 
	font-size: 8pt; 
	border: 1px solid #DAD2D2; /*#F6F4F4;*/
}

.connectionLinkDiv {
	border-radius: 8px; 
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	background-color: white;
    border: 1px solid black;
	padding: 2px; 
	text-align: center;  
	width: 135px; 
	font-size: 8pt; 
}

.connectionIdeaDiv {
	margin-top: 3px; 
	margin-bottom: 3px; 
	padding: 4px; 
	text-align: left; 
	width: 165px; 
}

.connectionIdeaDivPale {
	margin-top: 3px; 
	margin-bottom: 3px; 
	padding: 1px; 
	text-align: left; 
	width: 165px; 
}

/* END OF Styles used by neighbourhood view */

/* ODD */
.hintRollover {
	position: absolute; 
	z-index: 20; 
	visibility: hidden; 
	padding: 0px;
	left: 0px; 
	top: 0px;
	border: 1px solid #308D88;
}
.compoundButton3 {
	color:  #308D88;
	height: 17px;
	font-weight: bold;
	font-size: 7pt;
}

.leftButton3 {
	float: left;
	background:url("../images/slim_left_off.png");
	background-repeat: no-repeat;
	background-position:0% 0%;
	height: 17px;
	margin-top: 4px;
	padding:2px 5px 2px 0px;
}

.middleButton3 {
	float: left;
	background:url("../images/slim_mid_off.png");
	background-repeat: repeat-x;
	background-position:0% 0%;		
	height: 17px;
	margin-top: 4px;
	padding:2px 0px 2px 0px;
}

.rightButton3 {
	float: left;
	background:url("../images/slim_right_off.png");
	background-repeat: no-repeat;
	background-position:0% 0%;		
	height: 17px;
	margin-top: 4px;
	padding:2px 6px 2px 0px;
}
/* End ODD */

/* for the scriptaculous auto complete box */
 /*div.autocomplete {
   position: absolute;
   width:250px;
   background-color:white;
   border:1px solid #888;
   margin:0px;
   padding:0px;
 }*/
 
div.autocomplete {
	/*display:none;*/
	float:left;
 	background-color:white;
	border:1px solid #888;
    /*margin:0px;
    padding:0px;*/
}

 div.autocomplete ul {
   list-style-type:none;
   margin:0px;
   padding:0px;
 }
 div.autocomplete ul li.selected { background-color: #ffb;}
 div.autocomplete ul li {
   list-style-type:none;
   display:block;
   margin:0;
   padding:2px;
   /*height:32px;*/
   cursor:pointer;
 }
 
/* END of style for the scriptaculous auto complete box */

.link-type-wrapper-neighbour {
	padding-top: 3px;
	font-size: 8pt;	
	width:140px;
}
 
.link-type-wrapper {
	float: left;
	padding-top: 3px;
	font-size: 8pt;	
	width:160px;
}

.link-type-text-neighbour {
	position: relative;
	float:left;
	text-align: center;
	width:100px;
	font-weight: bold;
}

.link-type-tags {	
	float:left;
	padding-top:1px;
}

.link-type-text {
	float:left;
	text-align: center;
	width:120px;
	font-weight: bold;
}

.link-type-menu {
	padding-top:1px;
	float:right;
}

ol.user-list-ol {
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}

li.user-list-li {
	margin-left:10px;
	padding:5px 0px;
	border-bottom: 1px solid #D3E8E8;
}

span.nav {
	background: white;
	padding-left:2px;
	padding-top:2px;
	padding-right:20px;
	margin: 0px;
	font-weight: bold;
}

span.toolbar {
	float:left;
	border-radius: 8px; 
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;		
	border: 1px solid lightgray; /*#FACEE3;*/
	background: #EDEDED; /*#FFF5FF;*/
	height: 29px;
	margin-right: 5px;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	position:relative
}

span.innertoolbar {
	border-radius: 6px; 
	-o-border-radius: 6px; 
	-icab-border-radius: 6px; 
	-khtml-border-radius: 6px; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;		
	border: 1px solid lightgray; /*#FACEE3;*/
	background: white; /*#FFF5FF;*/
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
	height:23px; 
}

.toolbaritem {
	position:relative; 
	top: 4px;
}

div.toolbar {
	float:left;
	border-radius: 8px; 
	-o-border-radius: 8px; 
	-icab-border-radius: 8px; 
	-khtml-border-radius: 8px; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;		
	border: 1px solid #FACEE3;
	background: white; #FFF5FF;
	padding:5px;
	margin-right: 5px;
	font-weight: bold;	
}

div.toolbarrow {
	float:left;
	clear: both;
	padding:6px;
	padding-top:0px;
	margin: 0px;
	width: 99%;
}

span.add {
	float:left;
	padding-top:2px;
	margin: 0px;
}

select.toolbar {
	margin-top: 5px;
	font-size: 8pt;	
}

img.toolbar {
	vertical-align:middle;
	border: 0px;
	margin: 0px;
	padding-bottom:1px;
	padding-right:5px;
}
div.loading {
	width:100%;
	text-align:center;
}

#ffplugin {
	
}
#fflogo{
	padding:0px 5px;
	border: 0px;
	float: left;
	background: transparent;
}

/* IDEA CLOUD VIEW */

.cloud { padding: 2px; line-height: 2em; text-align: left; margin: 0;}
.cloud a { padding: 2px;}
.cloud li { display: inline; }

.cloud a.tag1 { font-size: 0.8em; font-weight: 100; }
.cloud a.tag2 { font-size: 0.9em; font-weight: 200; }
.cloud a.tag3 { font-size: 1.0em; font-weight: 300; }
.cloud a.tag4 { font-size: 1.2em; font-weight: 400; }
.cloud a.tag5 { font-size: 1.4em; font-weight: 500; }
.cloud a.tag6 { font-size: 1.6em; font-weight: 600; }
.cloud a.tag7 { font-size: 1.8em; font-weight: 700; }
.cloud a.tag8 { font-size: 2.0em; font-weight: 800; }
.cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
.cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

.cloudlistitem { 
	cursor: pointer;
}
 
#tagcloud {
	margin-bottom: 10px;
	width: 200px;
}

#tagcloud ul{
	margin: 0;
	padding:2px;
	text-align:left;
}

#tagcloud li{
margin:0;
	padding:0;
	list-style:none;
	cursor: pointer;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;	
}
#tagcloud li a{
	text-decoration:none;
	color:#e80074;
	padding: 2px;	
}
#tagcloud li a:hover{	
	color:#cff400;
}		

.tag1{font-size:90%;}
.tag2{font-size:100%;}
.tag3{font-size:110%;}
.tag4{font-size:120%;}
.tag5{font-size:130%;}
.tag6{font-size:140%;}
.tag7{font-size:150%;}
.tag8{font-size:160%;}
.tag9{font-size:170%;}
.tag10{font-size:180%;}

/* HOME PAGE */
ul.home-node-head-list {
   list-style:none;
   margin: 0px 0px 0px 15px;
   padding: 3px;
}

li.home-node-head-item {
   font-weight: bold;
   display:inline;
   margin-left: 10px;
}

li.current {
   color: #40B5B2;
   padding: 3px;
   border: 1px solid #FACEE3;
}

li.option {
    color: #e80074;
    cursor:pointer;
    padding: 3px;
}